<div class="container">
  <div class="row my-2">
    <div class="col-12 text-center my-5">
      <div class="h1 font-weight-bold">COORDINATORとは</div>
      <div class="text-secondary">生きるためではなく、趣味としての服を</div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-4 my-5">
      <div class="h2 font-weight-bold">特徴</div>
      <div class="text-secondary">
        気になる投稿からコメントし、コーディネートの詳細を聞いたり<br>
        DM機能でおすすめのお店を聞くことができます！
      </div>
    </div>
    <div class="col-4 my-5">
      <div class="h2 font-weight-bold">目的</div>
      <div class="text-secondary">
        コーディネートを投稿できるSNS型アプリケーション<br>
        となっていて、おしゃれ好きな方とつながってほしい！
      </div>
    </div>
    <div class="col-4 my-5">
      <div class="h2 font-weight-bold">設計経緯</div>
      <div class="text-secondary">
        着なけらば行けないから服を着るという発想ではなく<br>
        服を着ること自体を趣味として幅広い年齢層の方に<br>
        楽しんでいただくため！
      </div>
    </div>
  </div>
</div>