<div class="container">
  <div clsss="row">
    <div class="col-12 my-2">
      <div id="message">
        <%= render 'rooms/message', entries: @entries, messages: @messages, message_new: @message, room: @room %>
      </div>
    </div>
  </div>
</div>